<div class="page-header">
  <h1>
    Outings Options
    <a href="/options/new" class="btn btn-md btn-success">Add Option</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Title</th>
        <th>Actions</th>
      </tr>

      <% @options.each do |option| %>
      <tr>
        <td><%= option.title %></td>
        <td>
          <!-- <a href="/options/<%= option.id %>" class="btn btn-primary">Show</a> -->
          <a href="/options/<%= option.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_option/<%= option.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
